@font-face {
    font-family: 'Zilla Slab';
    src: url('/assets/fonts/ZillaSlab-Regular.woff2') format('woff2'),
         url('/assets/fonts/ZillaSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('/assets/fonts/ZillaSlab-Bold.woff2') format('woff2'),
         url('/assets/fonts/ZillaSlab-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('/assets/fonts/ZillaSlab-Italic.woff2') format('woff2'),
         url('/assets/fonts/ZillaSlab-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}