<div class="header-container">
  <div class="header-left">
    <a href="/"><h1 class="site-title">Eleventy example blog</h1></a>
  </div>
  <nav class="site-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</div>